body {
  background: #fff;
  color: #050043;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.02rem;
}

a {
  color: #4583fb;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #d2000a;
  outline: none;
  text-decoration: none;
}

p {
  padding: 5px;
  margin: 5px 0 18px 0;
}

h1 {
  padding: 0;
  font-weight: 800;
  font-size: 3rem;
  color: #143aba;
}

h2 {
  padding: 0;
  font-weight: 800;
  font-size: 1.8rem;
  color: #143aba;
}

h3 {
  padding: 0;
  font-weight: 600;
  font-size: 1.6rem;
  color: #143aba;
}

h4 {
  padding: 0;
  font-weight: 200;
  font-size: 1.4rem;
}

h5 {
  padding: 0;
  font-weight: 100;
  font-size: 1.2rem;
}

h6 {
  padding: 0;
  font-weight: 50;
  font-size: 1.1rem;
}

.btn-red {
  color: #ffffff;
  background-color: #d2000a;
  border-color: #f8131e;
}

.btn-red:hover, .btn-red:visited {
  color: #ffffff;
  background-color: #f8131e;
  border-color: #d2000a;
}

.btn-azure {
  color: #ffffff;
  background-color: #4583fb;
  border-color: #286cef;
}

.btn-azure:hover, .btn-azure:visited{
  color: #ffffff;
  background-color: #286cef;
  border-color: #4583fb;
}

.btn-light-blue {
  color: #ffffff;
  background-color: #2b50ce;
  border-color: #143aba;
}

.btn-light-blue:hover, .btn-light-blue:visited{
  color: #ffffff;
  background-color: #2b50ce;
  border-color: #143aba;
}

/*******************************
# Header
*******************************/

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 0 0 10px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 1px solid #eee;
}

#topbar {
  padding: 2px;
  transition: all 0.5s;
  background-color: #05038a;
}

#topbar .social-links {
  text-align: right;
  font-size: 1.2rem;
}

#topbar .social-links a {
  color: #ffffff;
  padding: 2px 10px;
  display: inline-block;
  line-height: 2rem;
}

#topbar .social-links a:hover {
  color: #d2000a;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

#topbar .slogan {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  line-height: 1rem;
}

#header.header-scrolled {
  height: auto;
  background-color: #f5f8fd;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.3);
}

#header .logo img {
  padding: 0;
  max-height: 60px;
  margin-top: 10px;
  margin-left: 10px;
}

#header.header-scrolled .logo img {
  max-height: 50px;
}

#header.header-scrolled #topbar {
  display: none;
}

#header.header-scrolled .logo img {
  padding: 0;
  display: inline;
  max-height: 50px;
}

.light {
  color: #4583fb;
  text-align: right;
}

/*******************************
# Navigation Menu
*******************************/

/* Desktop Navigation */

.main-nav,
.main-nav * {
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.main-nav>ul>li {
  margin-top: 12px;
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #d2000a;
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.main-nav a:hover,
.main-nav .active>a,
.main-nav li:hover>a {
  color: #4583fb;
  text-decoration: none;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background-color: #05038a;
  transition: 0.4s;
  opacity: 0.8;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
  color: #4583fb;
  text-decoration: none;
}

.mobile-nav .drop-down>a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down>a:after {
  content: "\f077";
}

.mobile-nav .drop-down>a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 1.8rem;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #4583fb;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #050043;
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*******************************
# Intro Section
*******************************/

#intro {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #ffffff;
  background-size: cover;
  padding-top: 160px;
}

#title {
  color: #d2000a;
  padding: 0;
  font-weight: 1000;
  font-size: 4rem;
  display: block;
  text-transform: uppercase;
}

#subtitle {
  font-weight: 100;
  font-size: 1.8rem;
  text-align: left;
}

#download-btn {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

#download-btn .download {
  font-size: 1.6rem;
  text-transform: uppercase;
}

#download-packages {
  margin-top: 14px;
  text-align: center;
  display: block;
}

section.red {
  background-color: #d2000a;
}

#intro .intro-bottom {
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}

/*******************************
# Sections
*******************************/

main section {
  padding: 20px 10px;
}

.content {
  padding-top: 40px;
}

.content ul li {
  padding-bottom: 10px;
}

.content-img {
  position: relative;
  margin: 10px;
}

.content-img img {
  width: 100%;
  border: 8px solid #fff;
  transition: .5s;
}

.content-img img:hover {
  width: 100%;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

/*******************************
# Misc
*******************************/

.fly-code {
  background-color: #eeeeee;
}

.card {
  margin: 10px;
  height: 12rem;
}


/*******************************
# Footer
*******************************/

#footer {
  padding: 0 0 20px 0;
  background-color: #05038a;
  color: #ffffff;
  font-size: 1rem;
}

#footer .footer-top {
  padding: 20px 0;
}

#footer .footer-top h4 {
  font-size: 1.1rem;
  margin: 40px 0 20px 0;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 5px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .social-links a {
  font-size: 1.6rem;
  display: inline-block;
  background: #ffffff;
  color: #05038a;
  line-height: 1;
  padding: 9px 0;
  margin-right: 14px;
  border-radius: 50%;
  text-align: center;
  width: 46px;
  height: 46px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  color: #d2000a;
}

#footer .footer-top .footer-email {
  margin-top: 20px;
}

#footer .footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 1.1rem;
}

/*******************************
# Responsive
*******************************/

@media (max-width: 991px) {

  #header .logo img {
    max-height: 60px;
  }

  #topbar .social-links {
    display: none;
  }

}

@media (max-width: 767px) {

  #intro {
    height: auto;
    padding: 190px 0 0 0;
  }

  #intro .container {
    height: auto !important;
  }

  #intro .intro-img {
    width: 100%;
  }

  #intro .intro-info {
    padding-top: 40px;
  }

  #main .container {
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media (max-width: 574px) {
  #footer .footer-top .social-links a {
    margin-bottom: 25px;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Bold.ttf");
  font-weight: bold;
}
